Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
enc_temp_folder
Build
Production
*_BuiltData.*
*.bak
.cmake
cmake-build-debug-visual-studio
